<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 인터넷 기반 무선 업데이트: 내려받은 APK를 OS 기본 설치 화면으로
         열려면 필요하다(Android 8+). 이 권한 자체는 자동 설치를 허용하지
         않는다 — 사용자가 설정에서 "이 출처 허용"을 켜고, 설치 화면에서
         직접 "설치"를 눌러야만 실제로 설치된다. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:label="SPACE SHIFT"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- image_picker의 카메라 촬영은 android.permission.CAMERA를 직접 선언하지
         않는다. image_picker_android는 카메라 촬영을 ACTION_IMAGE_CAPTURE
         인텐트로 외부 카메라 앱에 위임하므로 CAMERA 런타임 권한이 필요 없고,
         이 권한을 선언하면 카메라 하드웨어가 없는 기기에서 앱이 제외될 수
         있다(암묵적 uses-feature). 저장소 접근도 시스템 포토 피커/카메라
         인텐트를 통해 이뤄지므로 READ/WRITE_EXTERNAL_STORAGE 등은 추가하지
         않는다. -->

    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
